.scroll-stack-scroller {
  position: relative;
  width: 100%;
  overflow-x: visible;
}

.scroll-stack-inner {
  padding: 2rem 1rem 30rem;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .scroll-stack-inner {
    padding: 2rem 2rem 50rem;
  }
}

@media (min-width: 1024px) {
  .scroll-stack-inner {
    padding: 2rem 4rem 50rem;
  }
}

.scroll-stack-card {
  transform-origin: top center;
  will-change: transform, filter;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  min-height: 24rem;
  width: 100%;
  margin: 30px 0;
  padding: 2.5rem;
  border-radius: 1.5rem;
  box-sizing: border-box;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative;
}

@media (min-width: 640px) {
  .scroll-stack-card {
    padding: 2.5rem;
  }
}

@media (min-width: 768px) {
  .scroll-stack-card {
    min-height: 28rem;
    padding: 3rem;
    border-radius: 2rem;
  }
}

@media (min-width: 1024px) {
  .scroll-stack-card {
    min-height: 30rem;
  }
}

.scroll-stack-end {
  width: 100%;
  height: 1px;
}
